.radio {
  display: inline-block;
  vertical-align: middle; }

.radio input {
  height: 0;
  width: 0;
  opacity: 0;
  display: none; }

.radio input + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  color: #9ca0a5;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.radio input + label, .radio input + label:before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.radio input + label:before {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #9ca0a5; }

@media screen and (min-width: 768px) {
  .radio input + label:hover:before {
    border-color: #66686d; } }

.radio input:checked + label {
  color: #66686d; }

.radio input:checked + label:before {
  content: "";
  background-repeat: no-repeat;
  background-position: 50%; }

.radio input[disabled] + label {
  color: #e6e6e6;
  cursor: not-allowed; }

.radio input[disabled] + label:before {
  border-color: #e6e6e6; }

.radio label:before {
  border-radius: 50%; }

.radio input:checked + label:before {
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  transition: -webkit-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 6px #f96302;
          box-shadow: inset 0 0 0 6px #f96302;
  border-color: #f96302; }

.radio input[disabled] + label:before {
  background: #e6e6e6; }

.checkbox {
  display: inline-block;
  vertical-align: middle; }

.checkbox input {
  height: 0;
  width: 0;
  opacity: 0;
  display: none; }

.checkbox input + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  color: #9ca0a5;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.checkbox input + label, .checkbox input + label:before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.checkbox input + label:before {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #9ca0a5; }

@media screen and (min-width: 768px) {
  .checkbox input + label:hover:before {
    border-color: #66686d; } }

.checkbox input:checked + label {
  color: #66686d; }

.checkbox input:checked + label:before {
  content: "";
  background-repeat: no-repeat;
  background-position: 50%; }

.checkbox input[disabled] + label {
  color: #e6e6e6;
  cursor: not-allowed; }

.checkbox input[disabled] + label:before {
  background: #e6e6e6;
  border-color: #e6e6e6; }

.checkbox input:checked + label:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20378%20310%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%23transparent%22%20stroke-width%3D%220%22%20style%3D%22%22%20d%3D%22M60.7 92.7l84.7 86.7L314.9.4l62.2 66-231.7 242.9L.4 156.8z%22%20%2F%3E%3C%2Fsvg%3E");
  -webkit-transition: background-color .1s ease-in-out;
  transition: background-color .1s ease-in-out;
  border-color: #f96302;
  background-color: #f96302; }
